JWT_SECRET=YOUR_JWT_SECRET
CENTRIFUGO_JWT_SECRET=SUPER_DUPER_SECRET_KEY
CENTRIFUGO_KEY=SUPER_DUPER_SECRET_KEY
DATABASE_URL=postgresql://messenger:messenger@postgres/messenger
BASE_URL_WSS=ws://centrifugo:6000/
BASE_URL_CENTRIFUGO=http://centrifugo:6000/
BASE_URL_AUTH=http://kratos:4433/
